@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");

/* Basic CSS Reset Start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; /* blue colors for links too */
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  direction: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic CSS Reset End*/
nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 115px;

  width: 80vw;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

a {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 20px;
}

div.main-grid {
  display: grid;
}
h1 {
  font-size: "marke";
  font-size: 56px;
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 16px;
}
button {
  background-color: #f4ce14;
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 60px;
}
.specialOptionImage {
  width: 256px;
  height: 185px;
}
.cost {
  color: #ee9972;
}

.callToActionTotal {
  display: flex;

  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  height: 400px;
  background-color: #495e57;
}

.callToActionLeft {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  color: aliceblue;
  justify-content: center;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.callToArmsImg {
  height: 427px;
  width: 375px;
  border-radius: 16px;
  border: black 0.5px solid;
}
.callToActionRight{
  margin-bottom: 500px;
}

.footerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footerListItems {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.footerImg {
  height: 300px;
  width: 160px;
  object-fit: cover;
  border: #495e57 1px solid;
}
h4 {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #495e57;
}
.specials {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.specialsTitle {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 10vh;
}
.specialImage {
  height: 166px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.specialsContainer {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.specialItem {
  width: 250px;
  outline: black 1px solid;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #edefee7c;
}
h2 {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.specialItemBio {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}
.specialItemHeader {
  display: flex;
  justify-content: space-around;
}
/* .price{
  color: #EE9972;
} */
.specialItemHeader p:nth-of-type(2) {
  /* Your desired styles here */
  color: #ee9972;
}

h3 {
  font-family: "Markazi Text", serif;
  font-size: 32px;
}
.footerContainer {
  display: flex;
  outline: black solid 2xp;
  justify-content: space-between;
  width: 60%;
  align-items: flex-start;
}
footer {
  display: flex;
  justify-content: center;
}
