@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");

/* Basic CSS Reset Start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Basic CSS Reset End*/
.nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

a {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 20px;
}

div.main-grid {
  display: grid;
}
h1 {
  font-size: "marke";
  font-size: 56px;
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 16px;
}
button {
  background-color: #f4ce14;
  border-radius: 16px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 60px;
}
.specialOptionImage {
  width: 256px;
  height: 185px;
}
.cost {
  color: #ee9972;
}

.callToActionTotal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: #495e57;
}

.callToActionLeft {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.callToArmsImg {
  height: 427px;
  width: 375px;
  border-radius: 16px;
}
footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  align-items: self-start;
  margin-left: 10vw;
  margin-right: 10vw;
}
.footerList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
}
.footerListItems {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.footerImg {
  height: 300px;
  width: 160px;
}
h4 {
  font-family: "Noto Sans Math", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #495e57;
}
